<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>This is the Club's blog</h1>
		<p>Welcome around. You'll like what you see.</p>
		<p>If you'd like to follow along, chekout our
			<a href="#">twitter</a>, 
			<a href="#">facebook page </a>or just send us an email at
			<a href="#">club@culotte.com</a>
		</p>
	</div>
</div>